.docker-sync
.idea
.vscode
backups/*.tar
backups/*.sql
backend/public/sitemap.xml
nginx/logs/**
!nginx/logs/.gitkeep
src/uploads/**
src/logs/**
!src/uploads/.gitkeep
src/theme/node_modules
src/theme/vendor
src/theme/.env
src/theme/stats.json*
src/theme/static/js/**
src/theme/static/css/**
src/theme/dev-manifest.json
.unison.*
.env.*
